parameters:
  level: 0
  paths:
    - src
rules:
    - MartinSoenen\PHPStanRules\Rules\MaxLinePerClassRule
    - MartinSoenen\PHPStanRules\Rules\MaxLinePerMethodRule
    - MartinSoenen\PHPStanRules\Rules\NoGenericWordRule
    - MartinSoenen\PHPStanRules\Rules\NoLaravelObserverRule
    - MartinSoenen\PHPStanRules\Rules\NoTryCatchRule
